 <h1>
   Carpeta {{ title }}!
</h1>
<hr>
<nav>
  <a [routerLink]="['/pagina-principal']" [routerLinkActive]="['activado']">Home</a>
  <br>
  <a [routerLink]="['/fruta']" [routerLinkActive]="['activado']">Frutas</a>
  <br>
  <a [routerLink]="['/empleado']" [routerLinkActive]="['activado']">Empleados</a>
  <br>
  <a [routerLink]="['/contacto']" [routerLinkActive]="['activado']">Contacto</a>
  <br>
</nav>
<hr>
<!-- <fruta></fruta> -->
<!-- <app-empleado></app-empleado> -->

<router-outlet></router-outlet>